header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 5rem;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}

.title-header {
    color: var(--color-title);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.12rem; 
    letter-spacing: 0.09rem;
}

nav {
    display: inline-flex;
    gap: 5rem;
}

nav a {
    color: var(--color-text);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3.12rem; 
    letter-spacing: 0.07rem;
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
}

nav a:hover {
    opacity: 0.7;
    transform: translateY(-3px);
}

@media (max-width: 900px) {
    nav a {
        font-size: 1.5rem;
    }
}